<h1>Parent component</h1>
<app-child [userStatus]="userCurrentStatus"></app-child>
<button (click)="statusChange()">User Status</button>
<hr>
<h2>Adding employees</h2>
<form #EmpDetails="ngForm"  (ngSubmit)="onClickSubmit(EmpDetails.value);resetLoginForm(EmpDetails)" >
<label for="Name">Name : </label>&nbsp;
<input type="text" placeholder="enter your name" ngModel name="Name"><br><br>
<label for="empId">Employee ID :</label>&nbsp;
<input type="text" placeholder="enter your Employee ID" ngModel name="empId"><br><br>
<button class="btn btn-success" type="submit" >Add Employee</button>
</form>

<ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul>

<app-emp-list [employees]="Details"></app-emp-list> 
<app-child2  (newItemEvent)="addItem($event)"></app-child2>
<hr>
<app-data-binding></app-data-binding>
<hr>
<app-struc-directive></app-struc-directive>
<hr>
<app-attri-directive></app-attri-directive>

